name: Build and Deploy to Github Pages 

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Setup Pages
        uses: actions/configure-pages@v5
        id: setup

      - name: Build Pages
        run: |
          npm clean-install --ignore-scripts
          npm run build
        env:
          VITE_BASE_URL: "${{steps.setup.outputs.base_url}}"

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    name: Deploy
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Deploy Pages
        uses: actions/deploy-pages@v4